


body{

margin: 0px;


}



/*
.background{
background-image: url('242.jpg');
background-repeat: repeat;
background-size: contain;

}*/


#canvas {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}







.pulse-button {
  display: block;
  position: absolute;
  z-index: 1;
  width: 115px;
  height: 115px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: rgb(255, 254, 226, .4);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

.pulse-button:focus{
  outline: none;

}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgb(255, 254, 226, .4);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgb(255, 254, 226, .4);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgb(255, 254, 226, .4);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgb(255, 254, 226, .4);}}
