#ingredient-selector {
    width: 97vw;
    max-width: 590px;
    min-height: calc(97vh - 200px);
    background-color: rgb(151, 0, 33);
    color: whitesmoke;
    z-index: 12;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s ease;
}

#ingredientForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

#ingredientTextBox {
    font-family: sans-serif;
    font-size: 20px;
}

#ingredientSubmit {
    font-family: sans-serif;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    margin-top: 50px;
    width: 150px;
    height: 150px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    background-image: linear-gradient(135deg,rgb(250, 175, 156),rgb(255, 42, 42));
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}

#ingredientSubmit:hover{
    cursor: pointer;
}