body {
  background-color: rgb(255,154,0)
}



h1 {
  color: #000000
}

.spooky {
  background-image: url('https://cdn.pixabay.com/photo/2012/04/01/16/39/pumpkin-23439__340.png');
  background-size: contain;
  background-position: 5px -5px;
}
